[submodule "nvim"]
	path = nvim
	url = https://github.com/OneEyed1366/dotfiles.git
	branch = nvim
[submodule "fish"]
	path = fish
	url = https://github.com/OneEyed1366/dotfiles.git
	branch = fish
[submodule "vim"]
	path = vim
	url = git@github.com:OneEyed1366/dotfiles.git
	branch = vim
[submodule "configs"]
	path = configs
	url = https://github.com/OneEyed1366/dotfiles.git
	branch = configs
[submodule "ideavim"]
	path = ideavim
	url = https://github.com/OneEyed1366/dotfiles.git
	branch = ideavim
